---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Button from '../components/Button.astro';
import { Image } from "astro:assets";
import mark from "../assets/images/mark.png";
import champagne from "../assets/images/champagne.png";
import mormor from "../assets/images/mormor.png";
import parasol from "../assets/images/parasol.png";
import lufthavn from "../assets/images/lufthavn.png";
import bord from "../assets/images/bord.png";
import icons from "../assets/images/icons.png";
import mig from "../assets/images/mig.png";
import østers from "../assets/images/østers.png";
import egenskaber from "../assets/images/egenskaber.svg";
import lysestage from "../assets/images/lysestage.png";
import hero from "../assets/images/Hero.png";
import { markHTMLString } from "astro/runtime/server/escape.js";
---
<MainLayout title="Titel">
	<main class="w-full mx-auto">

		<section class="relative w-full" >
			<Image src={hero} alt="hero"></Image>
			<div class="absolute inset-0 flex flex-col items-center justify-center pb-24 md:pb-55" >
			<h1 class="text-2xl sm:text-3xl md:text-5xl lg:text-6xl font-bold text-center font-display" >Nicoline Droob <br> Mortensen</h1>
		</div>
		</section>

		<h2 class="text-center m-5 font-sans text-2xl" >Kreativitet i balance med brugervenlighed</h2>

		<section class="bg-primary-400 " >
			<div class="grid grid-cols-5 gap-4" >
				<Image src={mark} alt="Mark"></Image>
				<Image src={champagne} alt="Champagne"></Image>
				<Image src={mormor} alt="Mormor"></Image>
				<Image src={parasol} alt="Parasol"></Image>
				<Image src={lufthavn} alt="Lufthavn"></Image>
			</div>
			<div class="p-4 pt-6">
				<p class="font-serif p-5" >Jeg er 24 år gammel og studerer til multimediedesigner på KEA/EK. Mit fokus er at skabe digitale løsninger, der både ser indbydende ud og giver en brugervenlig oplevelse. Jeg arbejder gerne med hele designprocessen – fra idé til færdigt produkt – hvor jeg trækker på kompetencer inden for UX, UI, visuel identitet og digitalt indhold.
					<br><br> Når jeg søger inspiration, vender jeg mig ofte mod Pinterest, naturen, arkitekturen i bygninger og oplevelser fra rejser. Det giver mig nye perspektiver og idéer, som jeg kan omsætte i mit kreative arbejde</p>
			</div>
		</section>

		<div class="flex items-center justify-center p-8" >
			<Image class="max-w-sm h-auto" src={bord} alt="Bord" ></Image>
		</div>

		<section class="grid gap-4 bg-primary-400 p-4 font-serif grid-cols-4">
			<div class="flex items-center gap-2">	<p >Portfolio:</p> <Button variant="primary" size="small">Se her</Button></div>
			<div class="flex items-center gap-2">	<p >Portfolio:</p> <Button variant="primary" size="small">Se her</Button></div>
			<div class="flex items-center gap-2">	<p >Portfolio:</p> <Button variant="primary" size="small">Se her</Button></div>
			<div class="flex items-center gap-2">	<p >Portfolio:</p> <Button variant="primary" size="small">Se her</Button></div>
		</section>

		<section class="pb-10 pt-10 flex flex-col md:flex-row items-center justify-center gap-8 text-center md:text-left">
			<Image src={mig} alt="Mig" class="w-55 md:w-80 h-auto" />
			<div class="flex flex-col items-center md:items-start gap-4">
			  <Image src={østers} alt="Østers" class="w-25 md:w-40 h-auto" />
			  <p class="font-serif text-lg leading-relaxed">
				24 år <br />
				Bor på Østerbro <br />
				Reformer instruktør <br />
				Læser til multimediedesigner
			  </p>
			</div>
		  </section>		  
		  

		<section class="bg-primary-400">
			<div class="max-w-4xl mx-auto flex flex-col items-center text-center md:flex-row md:justify-between md:text-left md:items-center p-6">
			<h2 class="font-sans text-2xl md:text-3xl pb-6" >Egenskaber som <br> multimediedesigner</h2>
			<Image src={egenskaber} alt="Egenskaber" class="w-48 h-auto md:w-64" ></Image>
		</div>
		</section>

		<section class="bg-primary-600 flex flex-col items-center md:flex-row md:justify-between md:items-center p-6">
			<Image src={lysestage} alt="Lysestage" class="w-40 md:w-64 h-auto" />
			<Image src={icons} alt="Ikoner" class="w-45 md:w-80 h-auto" />
		  </section>
	</main>
</MainLayout>